<!DOCTYPE html>
<html lang="pl">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
<style>
            body {
            background-image: url('{% static "media/welcome/welcome.png" %}'); /* Użyj odpowiedniej ścieżki do obrazka tła */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right center;
            background-attachment: fixed;
            padding: 0;
            margin: 0;
            height: 100vh;
            animation: fadeIn 2s ease-in-out;
        }
</style>
</head>
<body>
<div class="container">
    <div class="form-container col-md-6">
        <h1 class="text-center">Logowanie</h1>
        {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Nazwa użytkownika:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Hasło:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-login">Zaloguj się</button>
        </form>
    </div>
</div>
<div class="footer">
    Jeśli nie możesz się zalogować, skontaktuj się z administratorem platformy AutoArch w swojej firmie.
</div>
</body>
</html>
