<!DOCTYPE html>
<html lang="pl">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witaj w AutoArch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/welcome.css' %}">
</head>
<style>
            body {
            background-image: url('{% static "media/welcome/welcome.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right center;
            background-attachment: fixed;
            padding: 0;
            margin: 0;
            height: 100vh;
            animation: fadeIn 2s ease-in-out;
        }

</style>
<body>
<div class="container">

    {% if logout_message %}
    <div class="alert alert-success">
        Pomyślnie wylogowano.
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12 text-center welcome-text">
            <h1>Witaj w AutoArch</h1>
            <p>Nasz system do zarządzania firmą architektoniczną</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center btn-login">
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Zaloguj się do aplikacji</a>
        </div>
    </div>
</div>
<!-- Tutaj możesz dodać inne animacje lub inne elementy designu -->
</body>
<script>
document.addEventListener('DOMContentLoaded', function() {
    setTimeout(function() {
        const alertBox = document.querySelector('.alert-success');
        if (alertBox) {
            alertBox.classList.add('fade-out');
        }
    }, 5000);  // 5 sekund
});
</script>

</html>
