{% extends 'base.html' %}

{% block title %}Panel Pracowników{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/employees_panel.css' %}">
<div class="container mt-5">
    <h1>Panel Pracowników</h1>

    <div class="row">
        {% for employee in employees %}
        <div class="col-md-4">
            <a href="{% url 'employee_detail' employee.user_id %}">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img class="card-img-top" src="{{ employee.avatar_url }}" alt="Card image">

                    <div class="card-body">
                        <h5 class="card-title">{{ employee.username }}</h5>
                        <p class="card-text"><strong>Rola:</strong> {{ employee.user_role|default:"Inni" }}</p>
                        <p class="card-text"><strong>Pracuje od:</strong> {{ employee.date_joined }}</p>
                        <div class="status">
                            <span class="status-dot {{ employee.is_online|yesno:'active,inactive' }}"></span>
                            <span class="status-text">{{ employee.is_online|yesno:"Aktywny,Nieaktywny" }}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container mt-5">
    <h2>Dodaj nowego pracownika</h2>
    <form method="post" enctype="multipart/form-data" class="form-group">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }} {{ form.password }}
        </div>
        <div class="form-group">
            <label for="fileInput" class="btn btn-primary">Wybierz plik</label>
            {{ form.avatar.label_tag }} {{ form.avatar }}
            <span id="fileLabel">Brak pliku</span>
        </div>
        <div class="form-group">
            {{ form.user_role.label_tag }} {{ form.user_role }}
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>

<script>
    $(document).ready(function() {
    $('#fileInput').on('change', function() {
        var fileName = $(this).val().split('\\').pop();
        $('#fileLabel').text(fileName || 'Brak pliku');
    });
});


</script>
{% endblock %}
