{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/statistics.js' %}"></script>
<h1>Statystyki firmy</h1>
<link rel="stylesheet" href="{% static '/css/statistics.css' %}">

<!-- Grid Layout for Charts -->
<div class="chart-grid">
    <!-- Ongoing Projects Over Time -->
    <div class="chart-container ongoing-projects">
        <canvas id="ongoingProjectsChart"></canvas>
    </div>

    <!-- Ongoing Projects for Specific User -->
    <div class="chart-container user-projects">
        <canvas id="userProjectsChart"></canvas>
    </div>

    <!-- Files for Each Project -->
    <div class="chart-container project-files">
        <canvas id="projectFilesChart"></canvas>
    </div>

    <!-- Projects for Each Investor -->
    <div class="chart-container investor-projects">
        <ul id="investorProjectsList">
            <!-- List items will be populated here -->
        </ul>
        <button id="toggleInvestorList">Otwórz listę inwestorów</button>
    </div>
</div>

{% endblock %}
